/* Student dashboard contains company cards and event title*/

.CompanyCardContainer {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  width: 100%;
  height: 100%;
  grid-row-gap: 7%;
  grid-column-gap: 7%;
  justify-content: center;
  padding-top: 5%;
  grid-auto-rows: 220px;
  overflow-y: scroll;
  /* margin-left: 10%; */
}
/* Event container encapsulates company cards, event title, and event statistics*/
/* .Event {
  background-image: url("../../assets//screen-images/temp.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 0;
} */
.EventTitle {
  width: 100%;
  padding-top: 3%;
  margin-left: 10%;
  text-align: center;
}
.EventTime {
  width: 100%;
  font-size: 20px;
  margin-left: 10%;
  text-align: center;
}
.ErrorMessage {
  text-align: center;
  color: red;
}
.Event {
  width: 100%;
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../../assets//screen-images/dashboard-screen.png");
  background-size: cover;
  background-position: center center;
  background-size: cover;
}
/*
--------------
DESKTOP
---------------
*/
/* @media (max-width: 1440px) {
  .CompanyCardContainer {
    grid-template-columns: 35% 35%;
    grid-auto-rows: 15%;
    grid-row-gap: 6%;
  }
} */

/*
--------------
DESKTOP 
---------------
*/

/* 2K+ resolution */
@media (min-width: 2049px) {
  .CompanyCardContainer {
    grid-template-columns: 17% 17% 17% 17%;
    grid-column-gap: 5%;
    grid-auto-rows: 230px;
    grid-row-gap: 6%;
    margin-left: 25px;
  }
}

/* 4K+ resolution */
@media (min-width: 3839px) {
  .CompanyCardContainer {
    grid-template-columns: 17% 17% 17% 17%;
    grid-column-gap: 5%;
    grid-auto-rows: 370px;
    grid-row-gap: 6%;
    margin-left: 25px;
  }
}
/*
--------------
MOBILE and TABLET
---------------
*/

@media only screen and (orientation: portrait) {
  @media (max-width: 1024px) {
    .CompanyCardContainer {
      grid-template-columns: 35% 35%;
      grid-auto-rows: 200px;
      grid-row-gap: 6%;
    }
  }
  @media (max-width: 768px) {
    .CompanyCardContainer {
      grid-template-columns: 35% 35%;
      grid-auto-rows: 150px;
      grid-row-gap: 6%;
    }
  }

  @media (max-width: 640px) {
    .CompanyCardContainer {
      grid-template-columns: 35% 35%;
      grid-auto-rows: 130px;
      grid-row-gap: 6%;
    }
  }

  @media (max-width: 560px) {
    .CompanyCardContainer {
      grid-template-columns: 35% 35%;
      grid-auto-rows: 115px;
      grid-row-gap: 6%;
    }
  }

  /*
  for mobiles (<= 480px)
  */
  @media (max-width: 481px) {
    .CompanyCardContainer {
      grid-template-columns: 70%;
      grid-auto-rows: 150px;
      grid-row-gap: 6%;
    }
  }
  @media (max-width: 375px) {
    .CompanyCardContainer {
      grid-template-columns: 70%;
      grid-auto-rows: 150px;
      grid-row-gap: 6%;
      margin-left: auto;
      margin-top: 70px;
    }
  }
}

@media only screen and (orientation: landscape) {
  /* @media (max-width: 1366px) {
    .CompanyCardContainer {
      grid-template-columns: 30% 30%;
      grid-auto-rows: 20%;
      grid-row-gap: 6%;
    }
  } */

  @media (max-width: 1600px) {
    .CompanyCardContainer {
      grid-auto-rows: 170px;
      grid-row-gap: 6%;
    }
  }

  @media (max-width: 1366px) {
    .CompanyCardContainer {
      grid-auto-rows: 150px;
      grid-row-gap: 6%;
    }
  }

  @media (max-width: 1152px) {
    .CompanyCardContainer {
      grid-auto-rows: 130px;
      grid-row-gap: 6%;
    }
  }

  @media (max-width: 1024px) {
    .CompanyCardContainer {
      grid-template-columns: 30% 30%;
      grid-auto-rows: 140px;
      grid-row-gap: 6%;
    }
  }
  @media (max-width: 896px) {
    .CompanyCardContainer {
      grid-template-columns: 35% 35%;
      grid-auto-rows: 135px;
      grid-row-gap: 6%;
    }
  }
  @media (max-width: 823px) {
    .CompanyCardContainer {
      grid-template-columns: 35% 35%;
      grid-auto-rows: 130px;
      grid-row-gap: 6%;
    }
  }
  @media (max-width: 812px) {
    .CompanyCardContainer {
      grid-template-columns: 35% 35%;
      grid-auto-rows: 125px;
      grid-row-gap: 6%;
    }
  }

  @media (max-width: 736px) {
    .CompanyCardContainer {
      grid-template-columns: 35% 35%;
      grid-auto-rows: 120px;
      grid-row-gap: 6%;
    }
  }
}
