.ChatRoomContainer {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.VideoChatContainer {
  background-color: white;
  margin-left: 7%;
}

.TextChatContainer {
  background-color: white;
}
