@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 2% 10%;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 2%;
  position: relative;
  transition: ease-in-out 100ms;
}
/* .Button:hover {
  transform: scale(1.1);
} */
.Success {
  color: black;
  background-color: #60bf33;
}

.Danger {
  color: white;
  background-color: #bf3b33;
}

/*
ADD MORE ANIMATION HERE
*/
.Accept {
  background-color: #e2508b;
  border-radius: 50px;
}

.Decline {
  background-color: #0056ff;
  border-radius: 50px;
}
.Logout {
  background-color: rgba(0, 0, 0, 1);
}
.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Control {
  background-color: #0056ff;
}

/* .None {
  display: none;
}
.Logout img {
  width: 9%;
  position: absolute;
  left: 10%;
  margin: auto;
} */
