.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 2% 10%;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2%;
  transition: ease-in-out 100ms;
  border-radius: 50px;
}
/* .Button:hover {
  transform: scale(1.1);
} */
.Success {
  color: black;
  background-color: #5db931;
}

.Danger {
  color: black;
  background-color: rgb(212, 39, 33);
}

/*
ADD MORE ANIMATION HERE
*/
.Accept {
  background-color: #e2508b;
}

.Decline {
  background-color: #0056ff;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
