/*

The following are responsive rules (breakpoints) for this application tailored to the most common devices 

Handy to Copy paste this into new stylesheets and optimize for each.

*/

@media only screen and (orientation: portrait) {
  @media (max-width: 1024px) {
    /*Ipad Pro */
  }

  @media (max-width: 768px) {
    /*Ipad */
  }
  @media (max-width: 640px) {
  }

  @media (max-width: 414px) {
  }
  @media (max-width: 375px) {
    /*Iphone X */
  }
}

@media only screen and (orientation: landscape) {
  @media (max-width: 1366px) {
    /*Ipad Pro */
  }

  @media (max-width: 1024px) {
    /*Ipad */
  }
  @media (max-width: 896px) {
    /*Iphone 11 PRO */
  }
  @media (max-width: 823px) {
  }
  @media (max-width: 812px) {
  }

  @media (max-width: 736px) {
  }
}
