.Input {
  width: 100%;

  box-sizing: border-box;
  background-color: #ffc4dc;
  border-radius: 50px;

  position: relative;
  height: 4vh;
  margin-bottom: 6%;
}

/* Brwoser autofill  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffc4dc inset !important;
  z-index: 1;
}

.InputElement {
  outline: none;
  border: 0px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  font: inherit;
  height: 4vh;
  box-sizing: border-box;
  padding: 10px;
  display: block;
  width: 100%;
  border-radius: 50px;
  /* background-color: #ffc4dc; */
  width: 80%;
  left: 4vh;
  top: 0;
  position: absolute;
}

.InputElement::placeholder {
  color: black;
}

.InputElement:focus {
  outline: none;
}

/* The circular key and user icon*/

.IconWrapper {
  width: 4vh;
  height: 4vh;
  background-color: black;
  border-radius: 50%;
  position: relative;

  display: flex;

  justify-content: center;
  align-items: center;
  z-index: 2;
}
.InputIcon {
  width: 65%;
}

/* If wrong values are submited */
.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}

/*add media queries for narrow screens landscape mode so 
the input fields don't get too thin */



/*DISPLAY 1920 BY DEFAULT*/

/* 2K+ resolution */
@media (min-width: 2049px) {

}
@media (min-height: 1000px) {
}

/* 4K+ resolution */
@media (min-width: 3839px) {

}
@media (min-height: 2000px) {

}

/*

16:9 aspect ratio resolutions: 1024×576, 1152×648, 1280×720, 1366×768, 1600×900, 1920×1080, 2560×1440 and 3840×2160
*/

@media only screen and (orientation: portrait) {



  @media (min-width: 769px) {
    /*Ipad */
    /* *{
      font-size: 102%;
    } */
  }
  @media (max-width: 640px) {
  }

  @media (max-width: 560px) {
  }

  /*480px is max phone size*/
  @media (max-width: 481px) {

  }

  @media (max-width: 375px) {
    /*Iphone X */

  }
}

@media only screen and (orientation: landscape) {
  @media (max-width: 2560px) {
  }

  @media (max-width: 1920px) {
  }

  @media (max-width: 1600px) {
  }

  @media (max-width: 1366px) {
    /*Ipad Pro */

  }


  @media (max-width: 1024px) {
    /*Ipad */
  }

  @media (max-width: 896px) {

  }

  @media (max-width: 823px) {
  }

  @media (max-width: 812px) {
  }

  @media (max-width: 736px) {
  }


  @media (max-height: 481px){
    .Input{
      height: 6vh;
    }
    .InputElement{
      height: 6vh;
      
    }
    .IconWrapper{
      height: 6vh;
      width: 6vh;
      
    }
  }

}
