.PromptContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.Logo {
  width: 30%;
  padding: 5%;
}
.ButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ContentContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.ContentContainer span {
  font-size: 1.2em;
  padding: 1%;
}

/*
 The glowing border effect
*/
.PromptContainer:before,
.PromptContainer:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  background: linear-gradient(
    45deg,
    #e2508b,
    #e2508b,
    #ff0067,
    #ff0067,
    blue,
    #ff0067,
    #e2508b,
    #ff0067,
    #e2508b,
    #e2508b
  );
  background-size: 400%;
  width: 100%;
  height: 100%;

  z-index: -1;
  border-radius: 25px;
  animation: glow 20s linear infinite;
}

@keyframes glow {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.PromptContainer:after {
  filter: blur(30px);
}



/* 2K+ resolution */
@media (min-width: 2049px) {
}

/* 4K+ resolution */
@media (min-width: 3839px) {
}

/*

16:9 aspect ratio resolutions: 1024×576, 1152×648, 1280×720, 1366×768, 1600×900, 1920×1080, 2560×1440 and 3840×2160
*/


/*FOR PETER*/
@media (max-height: 600px){
  /* .PromptContainer{
    transform: scale(0.7);
    margin-top: -50px;
  }
  .PromptContainer:before,
.PromptContainer:after {
  transform: scale(0.7);
} */
}

/**/

@media only screen and (orientation: portrait) {
  @media (max-width: 1024px) {
    /*Ipad Pro */
  }

  @media (max-width: 768px) {
    /*Ipad */
  }
  @media (max-width: 640px) {
  }

  @media (max-width: 560px) {
  }

  /*480px is max phone size*/
  @media (max-width: 481px) {
  }

  @media (max-width: 375px) {
    /*Iphone X */
  }
}

@media only screen and (orientation: landscape) {
  @media (max-width: 2560px) {
  }

  @media (max-width: 2560px) {
  }

  @media (max-width: 1920px) {
  }

  @media (max-width: 1600px) {
  }

  @media (max-width: 1366px) {
  }
  @media (max-width: 1280px) {
  }

  @media (max-width: 1152px) {
  }

  @media (max-width: 1024px) {
    /*Ipad */
  }

  @media (max-width: 896px) {
    /*Iphone 11 PRO */
  }

  @media (max-width: 823px) {
  }

  @media (max-width: 812px) {
  }

  @media (max-width: 736px) {
  }
}
