/* HAMBURGER MENU */
.ToggleMenu {
  font-size: 15px;
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  cursor: pointer;
  transform: rotate(180deg);
}

.ToggleMenu span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 90%;
  height: 0.13em;

  background-color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.ToggleMenu span:after,
.ToggleMenu span:before {
  position: absolute;

  width: 70%;
  height: 0.13em;
  background: #fff;
  content: "";
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.ToggleMenu span:before {
  left: 0;
}
.ToggleMenu span:after {
  right: 0;
}

.ToggleMenu span:before {
  -webkit-transform: translateY(-0.5em);
  transform: translateY(-0.5em);
}

.ToggleMenu span:after {
  -webkit-transform: translateY(0.5em);
  transform: translateY(0.5em);
}

.ToggleMenu.ActiveMenu span:before {
  transform: translateY(-0.25em) translateX(0.9em) rotate(45deg) scaleX(0.6);
}

.ToggleMenu.ActiveMenu span:after {
  -webkit-transform: translateY(0.25em) translateX(0.4em) rotate(-45deg)
    scaleX(0.6);

  transform: translateY(0.25em) translateX(0.4em) rotate(-45deg) scaleX(0.6);
}
@media only screen and (orientation: portrait) {
  @media (max-width: 1024px) {
  }
  @media (max-width: 768px) {
  }

  @media (max-width: 640px) {
  }
  @media (max-width: 414px) {
  }
  @media (max-width: 375px) {
    .ToggleMenu {
      position: fixed;
      top: 1%;
      right: 5%;
    }
  }
}

@media only screen and (orientation: landscape) {
  @media (max-width: 1366px) {
  }

  @media (max-width: 1024px) {
  }
  @media (max-width: 896px) {
  }
  @media (max-width: 823px) {
  }
  @media (max-width: 812px) {
  }

  @media (max-width: 736px) {
  }
}
