/*Minimized tool bar only shows logo icon, toggle menu and credits*/
/* .ToolbarMin {
  height: 100%;
  width: 75px;
  background-color: #e2508b;
  background-image: url("../../../assets/screen-images/background-fluids.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  box-sizing: border-box;
  z-index: 110;
  transition: 0.5s;
} */

.ToolbarMin {
  margin-left: -225px;
  height: 100%;
  width: 300px;
  background-color: #e2508b;
  background-image: url("../../../assets/screen-images/background-fluids-full.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 225px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  box-sizing: border-box;
  z-index: 110;
  transition: 0.5s;
}


/* Opened Toolbar */
.ToolbarOpen {
  height: 100%;
  width: 300px;
  background-color: #e2508b;
  background-image: url("../../../assets/screen-images/background-fluids-full.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  box-sizing: border-box;
  z-index: 110;
  transition: 0.5s;
}

.Logo {
  width: 80%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.LogoIcon {
  padding-top: 10%;
  width: 17%;
  margin-left: 225px;
}

.CreditsTitle {
  margin-top: auto;
  padding-bottom: 5%;
}

/* This is where control buttons go*/
.ControlsContainer {
  /* display: grid;
  width: 90%;
  height: 20%;
  margin: auto;
  grid-row-gap: 7%;
  padding-bottom: 30%; */
  display: grid;
  width: 90%;
  height: auto;

  justify-self: center;
  grid-row-gap: 7%;
  justify-content: center;
  grid-template-columns: 100%;
  /* padding-bottom: 30%; */
}

/*
 Switch between control container properties depending on the number of children in different containers
*/
.ControlsContainer.ChatRoom {
  margin-top: 40%;
  grid-auto-rows: 40%;
}
.ControlsContainer.StudentDashboard {
  margin-top: 50%;
  grid-auto-rows: 60%;
}
/* Apply to child control elements */
.ControlsContainer * {
  /* padding: 10%; */
}

.ControlsContainerMin {
  display: none;
}



/* 2K+ resolution */
@media (min-width: 2049px) {
  .ToolbarMin{
    margin-left: -315px;
    width: 400px;
    background-position: 315px;
  }
  .ToolbarOpen{
    width: 400px;
  }
  .LogoIcon {
    margin-left: 315px;
  }
  
}

/* 4K+ resolution */
@media (min-width: 3839px) {
  .ToolbarMin{
    margin-left: -465px;
    width: 600px;
    background-position: 465px;
  }
  .ToolbarOpen{
    width: 600px;
  }
  .LogoIcon {
    margin-left: 465px;
  }
}

@media (max-width: 1600px){
  .ToolbarMin{
    margin-left: -195px;
    width: 250px;
    background-position: 195px;
  }
  .ToolbarOpen{
    width: 250px;
  }
  .LogoIcon {
    margin-left: 195px;
  }
}

/*
--------------
MOBILE and TABLET
---------------
*/

@media only screen and (orientation: portrait) {
  @media (max-width: 1024px) {
    .ToolbarMin{
      margin-left: -255px;
      width: 330px;
      background-position: 255px;
    }
    .ToolbarOpen{
      width: 330px;
    }
    .LogoIcon {
      margin-left: 255px;
    }
  }
  
  @media (max-width: 768px) {
    .ToolbarMin{
      margin-left: -200px;
      width: 250px;
      background-position: 200px;
    }
    .ToolbarOpen{
      width: 250px;
    }
    .LogoIcon {
      margin-left: 200px;
    }
  }


  /* for mobiles */
  @media (max-width: 481px) {
    
    .ToolbarMin {
      flex-direction: row;
      position: fixed;
      width: 100%;
      height: 50px;
      transition: 0ms;
      margin-left: 0;
      background-image: unset;

    }

    .LogoIcon {
      position: relative;
      margin-top: -20px;
      margin-left: -20px;
      left: 0;
      transition: 0;
      transform: scale(0.6);
    }

    .Logo {
      width: 40%;
      padding-bottom: 0%;
      padding-top: 4%;
      position: absolute;
      left: 3%;
      transition: 0;
    }
    
    .CreditsTitle {
      display: none;
    }

    .ToolbarOpen {
      width: 100%;
      height: 100%;
      background-color: #e2508ad7;

      background-image: unset;
    }
  }
}

@media only screen and (orientation: landscape) {


  @media (max-width: 1366px) {
    .ToolbarMin{
      margin-left: -195px;
      width: 250px;
      background-position: 195px;
    }
    .ToolbarOpen{
      width: 250px;
    }
    .LogoIcon {
      margin-left: 195px;
    }
  }

  @media (max-width: 1152px) {
    .ToolbarMin{
      margin-left: -175px;
      width: 250px;
      background-position: 175px;
    }
    .ToolbarOpen{
      width: 250px;
    }
    .LogoIcon {
      margin-left: 175px;
    }
  }


  @media (max-width: 1024px) {
    .ToolbarMin{
      margin-left: -195px;
      width: 250px;
      background-position: 195px;
    }
    .ToolbarOpen{
      width: 250px;
    }
    .LogoIcon {
      margin-left: 195px;
    }
  }
  @media (max-width: 896px) {
  }
  @media (max-width: 823px) {
  }
  @media (max-width: 812px) {
  }

  @media (max-width: 736px) {
  }
}
