/*Minimized tool bar only shows logo icon, toggle menu and credits*/
.ToolbarMin {
  height: 100%;
  width: 5%;
  background-color: #e2508b;
  background-image: url("../../../assets/screen-images/background-fluids.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  box-sizing: border-box;
  z-index: 90;
  transition: 0.5s;
}

.Logo {
  width: 80%;
  padding-top: 10%;
  padding-bottom: 10%;
}
/* .LogoIcon {
} */

.CreditsTitle {
  margin-top: auto;
  padding-bottom: 5%;
}

/* Opened Toolbar */
.ToolbarOpen {
  height: 100%;
  width: 15%;
  background-color: #e2508b;
  background-image: url("../../../assets/screen-images/background-fluids-full.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  box-sizing: border-box;
  z-index: 90;
  transition: 0.5s;
}

/* This is where control buttons go*/
.ControlsContainer {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  height: 20%;
  margin: auto;
  padding-bottom: 30%; */
  display: grid;
  width: 90%;
  height: 20%;
  margin: auto;
  grid-row-gap: 7%;
  padding-bottom: 30%;
}
/* Apply to child control elements */
.ControlsContainer * {
  /* padding: 10%; */
}

/*  Mobile Menu */
/*
--------------
MOBILE and TABLET
---------------
*/

@media only screen and (orientation: portrait) {
  @media (max-width: 1024px) {
  }
  @media (max-width: 768px) {
  }

  @media (max-width: 640px) {
  }
  @media (max-width: 414px) {
  }
  @media (max-width: 375px) {
    .ToolbarMin {
      width: 100%;
      height: 5%;
    }
    .LogoIcon {
      height: 100%;
      position: absolute;
      left: 0;
    }

    .CreditsTitle {
      display: none;
    }

    .ToolbarOpen {
      width: 100%;
      height: 100%;
      background-color: #e2508ad7;

      background-image: unset;
    }
  }
}

@media only screen and (orientation: landscape) {
  @media (max-width: 1366px) {
  }

  @media (max-width: 1024px) {
  }
  @media (max-width: 896px) {
  }
  @media (max-width: 823px) {
  }
  @media (max-width: 812px) {
  }

  @media (max-width: 736px) {
  }
}
