.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;

  z-index: 100;
  top: 25%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 25px;
  width: 50%;
  left: calc(50% - 250px);
  left: calc(-50vw + 50%);
  right: calc(-50vw + 50%);
  margin-left: auto;
  margin-right: auto;
}

/*
--------------
MOBILE and TABLET
---------------
*/

@media only screen and (orientation: portrait) {
  @media (max-width: 1024px) {
  }

  @media (max-width: 768px) {
    .Modal {
      width: 90%;
    }
  }
  @media (max-width: 640px) {
  }
  @media (max-width: 414px) {
  }
  @media (max-width: 375px) {
    .Modal {
      width: 90%;
    }
  }
}

@media only screen and (orientation: landscape) {
  @media (max-width: 1366px) {
  }

  @media (max-width: 1024px) {
  }
  @media (max-width: 896px) {
    /*Iphone 11 PRO */
    .Modal {
      width: 70%;
      top: 15%;
    }
  }
  @media (max-width: 823px) {
  }
  @media (max-width: 812px) {
    .Modal {
      width: 80%;
      top: 15%;
    }
  }

  @media (max-width: 736px) {
  }
}

/*temporary... FOR PETER*/
@media (max-height: 600px){
  .Modal{
    margin-top: -35px;
    width: 60%;
  }
}