.ChatRoomContainer {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 80% 20%;
  }
  
  .VideoChatContainer {
    background-color: gray;
    margin-left: 7%;
  }
  
  .TextChatContainer {
    background-color: yellow;
  }
  