.EventFinderContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("../../assets//screen-images/student-dashboard-screen.jpg");
  background-size: cover;
  background-position: center center;
  background-size: cover;
}
