.AuthContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  height: 100%;
  width: 100%;
}

.BackgroundIllustration {
  background-image: url("../../../assets//screen-images/auth-screen.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

/*
Form - Contains the title, error message and input fields (not the button)
*/
.Form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Logo {
  width: 12%;
  margin-top: 2%;
  padding-left: 2%;
  position: absolute;
  top: 0;
  left: 0;
}

.FormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}

.FormTitle {
  font-size: 1.7em;
  text-align: center;
  padding-bottom: 2%;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}

.ErrorMessage {
  color: rgb(211, 32, 32);
  text-align: center;
  padding-bottom: 3%;
}



/*DISPLAY 1920 BY DEFAULT*/

/* 2K+ resolution */
@media (min-width: 2049px) {
  *{
    font-size: 102%;
  }
}
@media (min-height: 1000px) {
  *{
    font-size: 102%;
  }
}

/* 4K+ resolution */
@media (min-width: 3839px) {
  *{
    font-size: 107%;
  }
}
@media (min-height: 2000px) {
  *{
    font-size: 107%;
  }
}




@media only screen and (orientation: landscape) {

  @media (max-aspect-ratio: 4/3){
    .AuthContainer {
      grid-template-columns: 60% 40%;
      grid-template-rows: 100%;
      height: 100%;
      width: 100%;
    }
  }

  @media (max-width: 1366px) {
    /*Ipad Pro */
    .FormContainer {
      width: 120%;
      justify-self: center;
    }
  }

  @media (max-height: 481px) {
    /*Iphone 11 PRO */
    .Logo{
      width: 15%;
    }

  }

}

@media only screen and (orientation: portrait) {

  .AuthContainer{
    grid-template-columns: 100%;
  }
  .Logo{
    width: 22%;
  }

  /*480px is max phone size*/
  @media (max-width: 481px) {
    .FormContainer {
      width: 135%;
      justify-self: center;
      bottom: 5%;
    }
    .Logo{
      width: 33%;
    }
  }

  @media (max-width: 375px) {
    /*Iphone X */

  }
}
